@import "./base/globals";
@import "./base/variables";
@import "./base/mixins";
// helper classes
.j-r {
    display: flex;
    justify-content: right;
}

.j-l {
    display: flex;
    justify-content: left;
}

.j-c {
    display: flex;
    align-items: center;
}

.j-c-c {
    justify-content: center;
}

// HEADER
// header-top
.contact-us {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

.hb-logo {
    img {
        height: 80px;
        width: auto;
        object-fit: contain;
    }
}

.contact {
    display: flex;
}

.contact-detail {
    display: flex;
    margin-left: 20px;
    li {
        border-left: 1px solid rgb(255, 255, 255);
        padding-left: 10px;
        margin-right: 10px;
        i {
            margin-right: 6px;
        }
    }
}

.social-icon {
    display: flex;
    align-items: center;
    li {
        margin-right: 10px;
    }
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 3px 30px;
    a {
        color: white;
        font-size: 12px;
    }
}

// .myOverlay {
//     animation: mymove 0.2s linear;
// }
// @keyframes mymove {
//     from {
//         left: 0px;
//     }
//     to {
//         left: 200px;
//     }
// }
@keyframes mynewmove {
    from {
        top: 0px;
    }
    to {
        top: 120px;
    }
}

// header-bottom
.header-bottom {
    margin: 8px 0;
}

// navbar
.navbar-main {
    .navbar-collapse {
        justify-content: center;
    }
    .nav-link {
        color: black;
        text-transform: uppercase;
        letter-spacing: 1px;
        position: relative;
        &:hover {
            color: $primary_color;
        }
    }
}

.dropdown-content {
    padding: 20px 50px;
    display: table;
    position: absolute;
    left: -6%;
    background: white;
    border: 1px solid whitesmoke;
    box-shadow: 1px 1px 10px 0px #00000008;
    display: none;
    z-index: 1000;
    ul {
        width: 100%;
        column-count: 3;
        width: max-content;
        a {
            font-size: 13px;
            color: rgb(75, 75, 75);
            text-transform: capitalize;
        }
        li {
            margin-bottom: 8px;
            margin-right: 30px;
        }
    }
}

.navbar-image {
    text-align: right;
    margin-top: -30px;
    img {
        height: 250px;
        width: 300px;
        object-fit: contain;
    }
}

.dc-links {
    margin-top: 20px;
    li {
        a {
            &:hover {
                color: $primary_color;
            }
        }
    }
}

.nav-link {
    position: relative;
}

.nav-item {
    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}

.dc-title {
    h6 {
        text-transform: uppercase;
        border-bottom: 1px solid black;
        padding: 10px 0;
        letter-spacing: 2px;
    }
}

.header-icon {
    display: flex;
    align-items: center;
    button {
        transition: 0.3s linear;
    }
    li {
        margin-right: 15px;
        a {
            color: black;
        }
        i {
            font-size: 19px;
        }
        &:hover {
            a {
                color: $primary_color;
            }
            button {
                color: $primary_color;
            }
        }
    }
}

// overlay
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background: black;
}

.overlay-content {
    position: relative;
    top: 46%;
    width: 80%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
    transition: all 0.3s;
}

.overlay .closebtn:hover {
    color: #ccc;
    transform: rotate(90deg);
    color: $primary_color;
}

.overlay input[type="text"] {
    padding: 15px;
    font-size: 17px;
    border: none;
    float: left;
    width: 80%;
    background: white;
}

.overlay input[type="text"]:hover {
    background: #f1f1f1;
}

.overlay button {
    float: left;
    width: 20%;
    padding: 15px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.overlay button:hover {
    background: #bbb;
}

.header-icon {
    button {
        border: none;
        background: none;
        outline: none;
    }
}

.oc-title {
    margin: 20px 0;
    h4 {
        color: white;
        font-weight: 300;
        font-size: 18px;
    }
}

.overlay input[type="text"]:hover {
    background: none;
}

.overlay input[type="text"] {
    padding: 15px;
    font-size: 48px;
    border: none;
    text-align: center;
    float: left;
    color: white;
    width: 100%;
    font-weight: 200;
    letter-spacing: 2px;
    position: relative;
    /* background: white; */
    background: none;
    border-bottom: 1px solid white;
}

input[type="text"] {
    outline: none;
}

.overlay {
     ::placeholder {
        color: white;
    }
    form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -425%);
    }
}

.overlay {
    button {
        background: none;
        color: white;
        position: absolute;
        font-size: 47px;
        right: -3%;
        border: none;
    }
    button:focus {
        outline: none;
    }
}

.overlay button:hover {
    background: #191919;
}

// medium-card
.cm-image {
    img {
        height: 200px;
        width: 200px;
        object-fit: cover;
    }
}

// side-navigation
.sidenav {
    position: fixed;
    top: 0;
    right: -100%;
    transition: all 0.8s ease-in-out;
    z-index: 9999999999;
    background: #fff;
    height: 100%;
    width: 100%;
    max-width: 500px;
    padding: 40px 0;
    border-left: 1px solid #efefef;
    opacity: 0;
    overflow-y: auto;
}

.sidenav.open {
    right: 0;
    opacity: 1;
}

// close button
.sidenav {
    padding: 30px 40px;
    a {
        font-size: 48px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
            transform: rotate(90deg);
            color: #bc4040 !important;
        }
    }
}

.title-button-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-title {
    h3 {
        font-size: 34px;
        text-transform: capitalize;
    }
}

// Main-Banner
.main-banner-single {
    height: 75vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// featured product
.product-card-big {
    text-align: center;
    .pcb-img {
        text-align: center;
        position: relative;
        display: inline-block;
        img {
            height: 500px;
            width: 400px;
            object-fit: cover;
            transition: opacity 0.2s ease-in-out;
        }
        .img-top {
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 99;
        }
        &:hover {
            .img-top {
                opacity: 1;
            }
        }
    }
    .pcb-title {
        padding-top: 10px;
        text-align: center;
        h6 {
            font-weight: 600;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
    .pcb-price {
        text-align: center;
        font-weight: 700;
    }
    .quick-view {
        display: none;
        z-index: 9999999;
        position: absolute;
        bottom: 20%;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%);
        button {
            background: black;
            color: white;
            outline: none;
            border: none;
            padding: 10px 20px;
            font-weight: 200;
        }
    }
    &:hover {
        .quick-view {
            display: block;
            opacity: 1;
        }
    }
}

// modal
button.uk-modal-close-default.uk-icon.uk-close {
    color: $primary_color;
    &:hover {
        transform: rotate(90deg);
    }
}

.uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical {
    width: 70%;
    z-index: 99999;
    padding: 64px;
    a {
        &:hover {
            color: black;
        }
    }
}

.pd-title {
    padding: 10px 0;
    h6 {
        text-transform: uppercase;
        letter-spacing: 1px;
        width: 50%;
    }
}

.pd-text {
    padding: 10px 0;
    p {
        padding-top: 18px;
        line-height: 20px;
        font-size: 13px !important;
        font-weight: 400;
        padding-bottom: 18px;
        border-top: 1px solid rgba(128, 128, 128, 0.377);
        border-bottom: 1px solid rgba(128, 128, 128, 0.377);
    }
}

.product-description {
    .pcb-price {
        font-weight: 500;
        font-size: 28px;
        letter-spacing: 1px;
    }
}

// .pd-wrapper {
//     display: flex;
//     align-items: center;
// }
.pd-size {
    margin-right: 18px;
    margin-bottom: 5px;
    h6 {
        display: inline-block;
        text-transform: capitalize;
    }
    span {
        margin-left: 10px;
    }
    .color-box {
        margin-bottom: -4px;
        display: inline-block;
        height: 20px;
        width: 20px;
        border: 1px solid black;
        background: rgb(114, 11, 11);
    }
}

.co-quantity input[type="number"] {
    width: 90%;
    border: 1px solid #bc4040;
    font-size: 24px;
    padding: 0.6rem 1.6rem;
}

.btns {
    padding: 20px 0;
    display: flex;
    width: 100%;
}

.modal-image {
    display: flex;
    align-items: center;
    img {
        height: 300px;
        width: 357px;
        object-fit: cover;
        margin-right: 10px;
    }
}

.add-to-cart {
    text-transform: uppercase;
    text-transform: uppercase;
    background: #bc4040;
    display: inline-block;
    padding: 0.6rem 1.6rem;
    line-height: 34px;
    letter-spacing: 2px;
    a {
        color: white;
        font-size: 14px;
    }
}

.enquiry {
    background: black;
    margin-left: 12px;
}

.view-detail {
    a {
        font-size: 13px;
        text-transform: uppercase;
        text-decoration: underline;
        letter-spacing: 1px;
    }
}

// product-card-small
.product-card-small {
    text-align: center;
    margin-bottom: 30px;
    .pcb-title {
        padding-top: 10px;
    }
    .quick-view {
        display: none;
        z-index: 9999999;
        position: absolute;
        bottom: 40%;
        left: 50%;
        transform: translateX(-50%);
        button {
            background: #0000008c;
            color: white;
            outline: none;
            border: none;
            font-weight: 200;
            font-size: 9px;
        }
    }
    &:hover {
        .quick-view {
            display: block;
        }
    }
}

.pcs-image {
    text-align: center;
    position: relative;
    display: inline-block;
    .img-top {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    &:hover {
        .img-top {
            opacity: 1;
        }
    }
    img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: opacity 0.2s ease-in-out;
    }
    .img-top {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
        img {
            width: 100%;
            object-fit: cover;
            height: 200px;
        }
    }
}

// video section
.mv-title {
    h2 {
        font-weight: 400;
        text-transform: capitalize;
        letter-spacing: 2px;
    }
}

.mv-content {
    text-align: center;
    .mv-text {
        padding: 30px 0;
        p {
            text-align: center;
            font-weight: 400;
            color: grey;
        }
    }
    .add-to-cart {
        background: black;
    }
}

.mv-thumbnail {
    img {
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
}

.main-video {
    padding: 40px;
    background: whitesmoke;
}

// trending products
.navigation-tab {
    padding-bottom: 20px;
    .nav {
        justify-content: center;
        margin-bottom: 40px;
    }
    .nav-tabs {
        border-bottom: 0px;
    }
    .nav-link {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
    .nav-item {
        a {
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
        }
    }
    .active {
        border: 0px;
    }
}

img.img-top {
    width: 100%;
    object-fit: cover;
    height: 200px;
}

// why-buy
.wha {
    background: whitesmoke;
}

.wha-title {
    margin-bottom: 50px;
    h4 {
        font-weight: 400;
    }
    span {
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.wha-sub-title {
    display: flex;
    align-items: center;
    h6 {
        text-transform: uppercase;
    }
    span {
        margin-right: 8px;
    }
}

.wha-text {
    text-align: left;
    margin: 10px 0;
    p {
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }
}

.wha-single {
    margin-bottom: 40px;
    padding-right: 8px;
}

.wha {
    img {
        height: 500px;
        width: 500px;
        object-fit: cover;
    }
}

// featured category
.category-single {
    position: relative;
    img {
        height: 400px;
        width: 100%;
        object-fit: cover;
    }
    &::before {
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.342);
        content: "";
        height: 100%;
        width: 100%;
    }
    .cs-category-title {
        position: absolute;
        top: 30%;
        left: 10%;
        transform: translateY(50%);
        h6 {
            color: white;
            font-size: 34px;
            font-weight: 400;
            text-transform: capitalize;
            letter-spacing: 2px;
            width: 70%;
            line-height: 38 px;
        }
    }
    .learn-more {
        position: absolute;
        bottom: 10%;
        left: 10%;
    }
}

.custom-image-size {
    img {
        height: 350px;
        width: 100%;
    }
    h6 {
        font-size: 24px !important;
    }
}

.less-padding {
    padding: 8px;
}

.add-to-cart {
    padding: 4px 7px;
}

.main-featured-category {
    background: whitesmoke;
}

// parallax
.main-parallax {
    position: relative;
    height: 50vh;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    .mp-title {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translateX(-50%);
        h4 {
            color: white;
            text-transform: uppercase;
            font-weight: 200;
            font-size: 100px;
            letter-spacing: 20px;
        }
    }
    .mp-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        p {
            color: white;
            text-align: center;
            font-size: 14px;
            line-height: 28px;
        }
    }
    .learn-more {
        position: absolute;
        bottom: 5%;
        left: 50%;
        transform: translateX(-50%);
    }
    &::before {
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        content: "";
        position: absolute;
        background: rgba(0, 0, 0, 0.411);
    }
}

// brand
.brand-single {
    margin: 30px 0;
    img {
        height: 150px;
        width: 100%;
        object-fit: contain;
    }
}

// instagram
.ins-single {
    img {
        height: 400px;
        width: 335px;
        object-fit: cover;
    }
}

.ins-single {
    position: relative;
    &::before {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background: rgba(221, 221, 221, 0.383);
        content: "";
        transition: 0.3s linear;
    }
    &:hover {
        &::before {
            display: block;
        }
        .instagram {
            display: block;
        }
    }
}

.instagram {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    i {
        display: block;
        font-size: 28px;
        margin-bottom: 10px;
    }
    span {
        font-weight: 200;
        letter-spacing: 2px;
    }
}